
*{
    margin:0;
    padding:0;
  }
  
  .container{  padding-top: 20px;
    padding-bottom: 20px;}
  
  
  
  .content h2{ font-size:19px;}
  
  .box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 60%;
    background: black;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 20px 50px rgb(5, 68, 83);
    border: 2px solid #000000;
    color: white;
    padding: 20px;
  }
  
  .box:before{
    content: '';
    position:absolute;
    top:0;
    left:-100%;
    width:100%;
    height:100%;
    background: rgb(5, 68, 83);
    transition:0.5s;
    pointer-events: none;
  }
  
  .box:hover:before{
    left:-50%;
    transform: skewX(-5deg);
  }
  
  
  .box .content{
    position:absolute;
    top:15px;
    left:15px;
    right:15px;
    bottom:15px;
    border:1px solid aqua;
    padding:20px;
    text-align:center;
    box-shadow: 0 5px 10px #50dfdb(9,0,0,0.5);
    
  }
  
  .box span{
    position: absolute;
    top: 0;
    left: -10%;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
    
  }
  
  .box span:nth-child(1)
  {
    transform:rotate(0deg);

  }
  
  .box span:nth-child(2)
  {
    transform:rotate(90deg);
    left: 10%;
  }
  
  .box span:nth-child(3)
  {
    transform:rotate(180deg);
  }
  
  .box span:nth-child(4)
  {
    transform:rotate(270deg);
    
  }
  
  .box span:before
  {
    content: '';
    position: absolute;
    width:100%;
    height: 2px;
    background: #50dfdb;
    animation: animate 4s linear infinite;
  }
  
  @keyframes animate {
    0% {
    transform:scaleX(0);
    transform-origin: left;
    }
    40%
    {
      transform:scaleX(1);
    transform-origin: left;
    }
    40.1%
    {
      transform:scaleX(1);
    transform-origin: right;
      
    }
    
    100%
    {
      transform:scaleX(0);
    transform-origin: right;
      
    }
    
    
  } 
img
    {
     
        max-height :10%;
        width: 15%;
        padding-left: 0px;
       
    }

#num1 
{
border-radius: 10px;
width: 200px;
height: 30px;
margin-right: 10px;
margin-bottom: 15px;


}
#num2
{
border-radius: 10px;
width: 200px;
height: 30px;

}
#num3
{
border-radius: 10px;
width: 420px;
height: 30px;

}
#num4
{
    border-radius: 10px;
    width: 420px;
    height: 30px;
    margin-top: 15px;
    

}
#num5
{
    border-radius: 10px;
width: 420px;
height: 30px;
margin-top: 15px;
}
#num7
{
    border-radius: 5px;
    height: 15px;
    width: 150px;
}
#num9
{
padding-top: 20px;

}
#num10
{
   margin-left: 0px;
   background-color: azure;
   border: none;
   border-radius: 30px ;
   margin-top: 10px;
   margin-bottom: 10px;
   height: 30px;
   width: 100px;
   cursor: pointer;
}
input
{
  border-radius: 20%;
    font-style: italic;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif  ;
    background-color: aliceblue;
    border: 0;
    border-bottom: solid 3px #48dbfb;
    color: black;
}
input:focus
{

    outline: none;
}
