*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:rgb(255, 255, 255);
    place-items: left;
}
img
{
 
    max-height :10%;
    width: 15%;
    padding-left: 0px;
   
}
nav
{
    position: relative;
    width: 70%;
    padding-top: 0px;
    display: flex;
    padding: 0%;
    align-items:center;
    margin:auto;
    left:5px;
    float: left;
}
nav a{
    position:relative;
    
    
    text-decoration: none;
    font-size: 100%;
    font-family: sans-serif;
    text-transform: capitalize;
    color:black ;
    padding:0 10px;
}
a::before{
    content:'' ;
    position: absolute;
    left:0;
    height: 3px;
    width: 0%;
    background-color: aqua;
    bottom: -7px;
    transition:0.3s ;
}
a:hover{
    color:aqua ;
    transition:0.3s ;

}
a:hover::before{
    width: 100%;
}
.search-box{
    position: absolute;
    height: 10px;
    width: 240px;
    padding-left: 10px;
    padding-bottom: 50px;
    
}
.search-box.active{
    width: 3000%;
}
.search-box input{
    height: 100%;
    width: 100%;
    font-size: 18px;
    border-radius: 50px;
    padding: 0 60px 0 20px;
    float: left;
    padding: 15px;
}
/*.search-box .search-btn{
    height: 90%;
    width: 20%;
    
    position:absolute;
    top:5%;
    float: left;
    left: 79%;
    padding: 10px;
    color: aqua;
    background: rgb(15, 93, 111);
    line-height: 10px;
    text-align: 10px;
    border-radius: 50px;
    font-size: 20px;
    cursor: pointer;
    
}*/
/*.search-box .cancel-btn{
    height: 90%;
    width: 20%;
    
    position:absolute;
    top:5%;
    float: left;
    left: 100%;
    padding: 10px;
    color: aqua;
    font-size: 20px;
    cursor: pointer;

}*/
ul{
    padding-left: 100px;
    margin-left: 20px;
    
}
li
{
    display: inline-block;
    padding-right: 50px;
}
