*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:rgb(255, 255, 255);
    place-items: left;
}
img
{
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 139px;
	text-align: center;
	color: rgb(7, 161, 195);
	background-color: rgb(255, 255, 255);
}
nav
{
    position: relative;
    width: 100%;
    display: flex;
    align-items:center;
}
nav a{
    position:relative;
    text-decoration: none;
    font-size: 100%;
    font-family: sans-serif;
    text-transform: capitalize;
    color:black ;
    padding:0 10px;
}
a::before{
    content:'' ;
    position: absolute;
    left:0;
    height: 3px;
    width: 0%;
    background-color: aqua;
    bottom: -7px;
    transition:0.3s ;
}
a:hover{
    color:aqua ;
    transition:0.3s ;

}
a:hover::before{
    width: 100%;
}


ul{
    padding-left: 100px;
    margin-left: 20px;
    
}
li
{
    display: inline-block;
    padding: 20px;
}
.search-box{
    border-radius: 20%;
    height: 100%;
    width: 150%;
    padding: 5%;
    font-style: italic;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif  ;
    background-color: aliceblue;
    border: 0;
    border-bottom: solid 3px aqua;
    color: black;
}
.search-box:hover{
    border-bottom: solid 3px black ; 
}
* {box-sizing:border-box}
.slideshow-container {
  position: relative;
  margin: auto;
  place-content: center;
}
.slider{
  width: 900px;
  height: 400px;
  padding-left: 10%;

}
.mySlides {
  display: none;
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 12px 12px;
  position: absolute;
  top: 0;
}
.fade {
  animation-name:fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}